/* CSS declarations go here */
.screen {
  cursor: none;
  width: 95%;
  height: 100%;
}
.size, .color, .whiteboards {
  cursor: pointer;
}
.whiteboards, .conf {

  clear:both;
}
.whiteboards{
  position: absolute;
  top:0;
  right: 0;
  border: 1px solid gray ;
  background-color: lightgray;
  padding: 10px;
}
.size{

  margin: 1px;
}
.pallete{
  position: absolute;
  right: 0;
}
.loading {
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
}
