/* CSS declarations go here */
.screen {
  cursor: none;
  width: 95%;
  height: 100%;
}
.painters, .size, .color, .whiteboards {
  cursor: pointer;
}
.whiteboards, .conf {
  clear:both;
}
.whiteboards{
  bottom:0;
  left: 0;
}
.painters {
  bottom:0;
  right: 0;

}
.size{
  margin: 5px;
  display: block;
  clear:both;
}
.loading {
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
}
.conf{
  width: 40px;
}
.color{
  text-indent: -900px;
  width: 32px;
  height: 32px;
}
.loginButtons{
  top: 0;
  right: 0;
}
.cursor {
  position: absolute;
  opacity: 0.7;
  z-index: 1;
}
.pointer {
  position: absolute;
  z-index: 1;
}
.painters, .loginButtons, .conf, .whiteboards {
  position: fixed;
  z-index: 2;
  margin: 10px;
  border: 1px solid gray ;
  background-color: lightgray;
  padding: 10px;
}
